<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Selección de Modelo de IA</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Selecciona un Modelo de IA</h2>
        <form id="ai-model-form" method="POST" action="{% url 'process_developer_mode' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_model_select">Técnica de aprendizaje</label>
                <select class="form-control" id="id_model_select" name="model_select" required>
                    <option value="">Selecciona la técnica</option>
                    <option value="regression">Regresión</option>
                    <option value="timeSeries">Series Temporales</option>
                </select>
            </div>
            <div class="form-group">
                <label for="id_model_parameters">Parámetros del Modelo</label>
                <select class="form-control" id="id_model_parameters" name="model_parameters" required>
                    <option value="" selected>Selecciona un parámetro</option> 
                </select>
            </div>
            <div class="form-group">
                <label for="id_test_percentage">Porcentaje de test</label>
                <label for="id_test_percentage">(0.05 a 0.5 para regresión // 0 a 0.25 para series temporales)</label>
                <input type="number" class="form-control" id="id_test_percentage" name="test_percentage" step="0.01" min="0" max="1" placeholder="Ingrese el porcentaje" required>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

    <script>
        document.getElementById('id_model_select').addEventListener('change', function() {
            const model = this.value;
            const modelParameters = document.getElementById('id_model_parameters');
            const testPercentage = document.getElementById('id_test_percentage');

            let options = '';
            switch (model) {
                case 'regression':
                    options = `
                        <option value="lr">Regresión Lineal ('lr')</option>
                        <option value="ridge">Regresión Ridge ('ridge')</option>
                        <option value="lasso">Regresión Lasso ('lasso')</option>
                        <option value="dt">Árbol de Decisión ('dt')</option>
                        <option value="gbr">Regresión de Incremento de Gradiente ('gbr')</option>
                        <option value="rf">Regresión de Bosque Aleatorio ('rf')</option>
                        <option value="en">Regresión Elastic Net ('en')</option>
                        <option value="br">Regresión Ridge Bayesiana ('br')</option>
                        <option value="huber">Regresor Huber ('huber')</option>
                        <option value="lightgbm">LightGBM ('lightgbm')</option>
                    `;
                    testPercentage.min = 0.05;
                    testPercentage.max = 0.5;
                    break;
                case 'timeSeries':
                    options = `
                        <option value="naive">Modelo Naive ('naive')</option>
                        <option value="ets">Suavizado Exponencial ('ets')</option>
                        <option value="arima">ARIMA ('arima')</option>
                        <option value="theta">Theta ('theta')</option>
                        <option value="tbats">TBATS ('tbats')</option>
                        <option value="exp_smooth">Suavizado Exponencial Simple ('exp_smooth')</option>
                    `;
                    testPercentage.min = 0;
                    testPercentage.max = 0.25;
                    break;
                default:
                    options = '<option value="">Selecciona un parámetro</option>';
                    testPercentage.min = 0;
                    testPercentage.max = 1;
            }

            modelParameters.innerHTML = options;
        });
    </script>
</body>
</html>
