<!DOCTYPE html>
<html>
<head>
    <title>Developer Mode</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Developer Mode</h1>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Tipo de aprendizaje: {{ model_select }}</h2>
                <h2>Algoritmo empleado: {{ model_parameters }}</h2>
                <h2>Porcentaje de testing: {{ test_percentage }}</h2>
            </div>
            <div class="col-md-6">
                <h3>Metricas:</h3>
                <ul class="list-group">
                    {% for key, value in metricas.items %}
                        <li class="list-group-item">{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <h3>Predicciones:</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Prediccion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, prediction in predictions.iterrows %}
                            <tr>
                                <td>{{ index }}</td>
                                <td>{{ prediction }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>