<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del Modelo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2>Resultados del Modelo</h2>
        <div>
            <p><strong>Modelo Seleccionado:</strong> {{ model_select }}</p>
            <p><strong>Parámetros del Modelo:</strong> {{ model_parameters }}</p>
            <p><strong>Porcentaje de Test:</strong> {{ test_percentage }}</p>
        </div>
        <div>
            <h3>Predicciones</h3>
            {{ result|safe }}
        </div>
        <div>
            <h3>Gráfico</h3>
            {{ graph_div|safe }}
        </div>
    </div>
</body>
</html>
